@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Univers-Heading";
  src: url("../public/fonts/Univers-Heading.ttf");
}

@font-face {
  font-family: "Univers-Subheading";
  src: url("../public/fonts/Univers-Subheading.ttf");
}

@font-face {
  font-family: "Univers-Body";
  src: url("../public/fonts/Univers-Body.ttf");
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.group {
  border: 0px;
  background-color: transparent;
}

.instagram-media {
  max-width: 280px !important;
  min-width: 0px !important;
}

.codex-editor__redactor {
  padding-bottom: 0px !important;
}

.image-tool__caption {
  display: none !important;
}

.ce-header {
  font-family: "Univers-Heading" !important;
  font-size: 2rem !important;
}

.image-tool__image-picture {
  margin: 0px auto !important;
}

/* Calendar */

.dhx_cal_today_button {display:none !important}
.day_tab {display:none !important}
.week_tab {display:none !important}
.month_tab {display:none !important}
.dhx_cal_date {
    text-align: left !important;
    display: block !important;
}
@media (max-width: 500px) {
.dhx_cal_date {
    display: inline !important;
}
}

/* Special Styling */

#3e9a63ce-041f-4fd9-8982-7877d16c9305 {
  background-color: rgba(10, 124, 186, 0.4) !important;
  background-opacity: 0.5 !important;
}

#02d741c8-d24a-4797-933c-6a949ab6e3fd {
  background-color: rgba(238, 76, 36, 0.4) !important;
  background-opacity: 0.5 !important;
}

#96669a07-95a3-4e99-b707-d13a54943845 {
  background-color: rgba(143, 73, 156, 0.4) !important;
  background-opacity: 0.5 !important;
}

.cdx-alert__message a {
  background: none !important;
}