@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Univers-Heading";
  src: url("../public/fonts/Univers-Heading.ttf");
}

@font-face {
  font-family: "Univers-Subheading";
  src: url("../public/fonts/Univers-Subheading.ttf");
}

@font-face {
  font-family: "Univers-Body";
  src: url("../public/fonts/Univers-Body.ttf");
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.group {
  border: 0px;
  background-color: transparent;
}

.instagram-media {
  max-width: 280px !important;
  min-width: 0px !important;
}

.codex-editor__redactor {
  padding-bottom: 0px !important;
}

.image-tool__caption {
  display: none !important;
}

.ce-header {
  font-family: "Univers-Heading" !important;
  font-size: 2rem !important;
}